{% extends 'base.html' %}

{% block head %}
<title>Edit Post - Blogposter</title>
{% endblock %}

{% block body %}
<h3>Editing Post</h3>

<hr />
<form action="/posts/{{ post.id }}/edit" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title" value="{{ post.title }}" />
  <br />
  <label for="author">Author:</label>
  <input type="text" name="author" id="author" value="{{ post.author }}" />
  <br />
  <label for="content">Post:</label>
  <textarea class="u-full-width" id="content" name="content" rows="2">
{{ post.content }}</textarea>
  <br />
  <input type="submit" class="button button-primary" value="Save" />
  <a href="/posts/" class="button">Cancel</a>
</form>
<hr />

{% endblock %}